.maincont{
    /* border: 1px solid red; */
    padding:20px;
    color: rgb(79,93,112);
}
.create{
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(5, 6, 6);
}
.textcont{
    font-size: 12px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 20px;
    padding: 20px 0;
}
.inputcont{
    padding: 5px 0;
}
.head{
    color: rgb(5, 6, 6);
    font-weight: bold;
}
.contTwo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    /* border: 1px solid red; */
}
.first{
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    min-height: 36vh;
}
.second{
    /* border: 1px solid rgb(128, 64, 0); */
   border: 2px dashed gray;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   text-align: center;
   padding: 10px 0;
   min-height: 36vh;
}
.mo{
    border-top: 1px solid gray;
    padding: 5px 0;
}
.mos{
    /* border-top: 1px solid gray; */
    padding: 5px 0;
}
.linecont{
   text-align: center;
   padding: 20px 0;
}
.uploadcont{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}
.icon{
    width: 15px;
    height: 15px;
}
.butcont{
    display: flex;
    justify-content: center;
   
}
.but{
    width:100% ;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: none;
}
.input{
    outline: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
}

  


@media (min-width:768px) {
    .maincont{
        /* border: 1px solid red; */
        padding: 40px;
    } 
    .create{
        padding: 10px 0;
        font-size: 24px;
    }
    .textcont{
        font-size: 18px;
        gap: 20px;
    }
    .contTwo{
        padding: 40px 0;
    }
    .first{
        min-height: 21vh;
    }
    .second{
        min-height: 21vh;
    }
    .butcont{
        display: flex;
        justify-content:center;
    }
    .but{
        width:100% ;
        /* padding: 10px 130px; */
    }
}



@media (min-width:1024px) {
    .textcont{
        font-size: 14px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
        padding: 20px 0;
    } 
    .create{
        padding: 10px 0;
        font-size: 22px;
    }
    .contTwo{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding: 40px 0;
    }
    .first{
        flex: 3;
        min-height: 40vh;
        /* border: 1px solid green; */
    }
    .second{
        flex: 4;
        min-height: 40vh;
        /* border: 1px solid rgb(128, 64, 0); */
    }
    .butcont{
        display: flex;
        justify-content: flex-end;
    }
    .but{
        width: 50%;
        padding: 10px 0;
    }
}

@media (min-width:1280px) {
    .first{
        
        min-height: 29vh;
        /* border: 1px solid green; */
    }
    .second{
      
        min-height: 30vh;
        /* border: 1px solid rgb(128, 64, 0); */
    }
  
}
