.maincont{
    padding: 50px 10px;
   
}


.subcont{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 30px;
    /* background-color: red; */
    padding: 10px 0;
}
.date{
    padding: 10px;
    color: rgb(79,93,112);
    /* background-color: red; */
}
.newcont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.newconts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    color: rgb(79,93,112);
}
.organiz{
    padding: 10px 0;
    font-size: 1.5rem;
    line-height: 2rem;
}
.button{
    /* width: 40%; */
    padding: 10px;
    background-color: rgb(37, 150, 231);
    color: white;
    border: none;
    border-radius: 5px;
   
}
.butcont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.line{
    border-bottom: 0.5px solid gray;
}


@media (min-width:768px) {
    .maincont{
    padding: 50px 20px;
   
}
}