.maincont{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
.textone{
    color: white;
    font-size: 22px;
    text-align: center;
}
.textwo{
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 5px;
}


@media (min-width:768px) {
    .textone{
        color: white;
        font-size: 28px;
        text-align: center;
    }
    .textwo{
        color: white;
        font-size: 28px;
        text-align: center;
        padding: 5px;
    }
}


@media (min-width:1024px) {
    .textone{
        font-size: 24px;
    }
    .textwo{
        font-size: 24px;
    }
}

@media (min-width:1280px) {
    .textone{
        font-size: 26px;
    }
    .textwo{
        font-size: 26px;
    }
}