.maincont{
    padding: 50px 10px;
    
}
.sign{
    padding: 10px;
    font-size: 1.5rem;
   line-height: 2rem;
}

.line{
    border: 0.5px solid gray;
}
.subcont{
    border: none;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(79,93,112);
    /* background-color: red; */
    padding: 10px 0;
}
.phone{
    font-size: 16px;
}
.sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.phonebutt{
    padding: 5px 20px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(79,93,112);
    font-size: 14px;
    
}
.textnew{

    padding: 10px;
    text-align: center;
    font-size: 14px;
}


@media (min-width:768px) {
    .maincont{
        padding: 50px 30px;
    } 
    .sign{
        padding:10px 20px;
    } 
    .sub{
        padding: 20px;
    }
    .textnew{
        padding: 20px;
        font-size: 16px;
    }
    .phone{
        font-size: 18px;
    }
    .phonebutt{
        font-size: 16px;
        
    }
}