.maincont{
    padding: 70px 0;
}
.profile{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
/* .line{
   border-color: beige;
} */
.subcont{
    padding: 10px 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textdiv{
    padding: 10px;
    color: rgb(79,93,112);
    font-size: 16px;
}
.labelcont{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.name{
   padding: 0 20px;
   font-size: 13px;
}
.input{
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}
.selectcont{
    display: flex;
    flex-direction: column;
    position: relative;
}
.select{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.label{
    color: rgb(79,93,112);
}
.modilink{
    display: flex;
    align-items: center;
    color: black;
}
.buttoncont{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonconts{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    gap: 10px;
}
.logocont{
    padding:40px 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid rgb(0, 255, 89); */
}
.buttonendone{
    padding:10px 30px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    color: rgb(79,93,112);
    font-size: 14px;
}
.buttonendtwo{
    padding:10px 30px;
    border-radius: 5px;
    border: none;
    background-color: deepskyblue;
    color: white;
    font-size: 14px;
}
.imgcont{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid blue; */
}

.buttonone, .buttontwo{
    padding:5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 12px;
    font-weight:bold ;
    color: rgb(79,93,112);
    gap: 20px;
    
}




@media (min-width:768px) {
    .maincont{
        padding: 100px 10px;
    } 
    .profile{
        line-height: 2rem;
        font-size: 1.6rem;
    }
    .label{
        flex: 1.5;
        color: rgb(79,93,112);
    }
    .textdiv{
        padding: 10px 20px;
    }
   
    .name{
        padding: 0;
        flex: 4;
        font-size: 16px;
       
     }
    .subcont{
        padding: 10px 10px;
        gap: 5px;
        /* border: 1px solid red; */
    }
    .labelcont{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }
    .labelconts{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding: 10px 20px;
    }
    .input{
        padding:10px;
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        width: 100%;
        flex: 4;
      
        
    }
    .selectcont{
        display: flex;
        flex-direction: row;
        flex: 4;
       
    }
    .buttoncont{
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        gap: 40px;
    }
    .buttonconts{
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        gap: 40px;
    }
    .logocont{
        padding: 80px 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
       
    }
    .imgcont{
       
        gap: 2px;
        
    }
    .buttonendone{
        padding:10px 40px;
        font-size: 18px;
    
    }
    .buttonendtwo{
        padding:10px 40px;
        font-size: 18px;
    }
    .buttonone, .buttontwo{
        padding:5px 5px;
        font-size: 16px;
    }
}
@media (min-width:1024px) {
    .label{
        flex: 0.7;
        color: rgb(79,93,112);
    }
    .input{ 
        flex: 4;    
    }
    .selectcont{
        flex: 4; 
    }
    .buttonendone{
        font-size: 16px;
    
    }
    .buttonendtwo{
        font-size: 16px;
    
    }
    .buttonone, .buttontwo{
        padding:5px 10px;
        font-size: 14px;
    }
    .logocont{
        padding: 40px 20px;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}