.maincont{
    padding: 50px 10px;
}
.manage{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px 0;
}
.buttcont{
    padding: 20px 0;
    display: flex;
    
}
.button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
.subcont{
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(79,93,112);
  
}
.contone{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contwo{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}
.text{
    font-size: 0.875rem;
    line-height: 1.25rem;
}




@media (min-width:768px) {
    .maincont{
        padding: 50px 20px;
    }
    .buttcont{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .contone{
        padding: 20px;
        
    }
    .contwo{
        padding: 20px;
        
    }
    
}