.maincont{
    padding: 50px 0;
}
.fax{
    padding: 10px 0;
   font-size: 1.5rem;
   line-height: 2rem;
}
.buttcont{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 30px;
}
.button{
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.text{
    padding: 10px 0;
}
.cont{
    padding: 20px 0;
}
.contcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}
.center{
    text-align: center;
    font-style: italic;
    color: gray;
    padding: 20px 0;
    font-size: 12px;
}
.prev{
    display: flex;
   align-items: center;
   
}
.buttonprev{
    border: 0.5px solid gray;
    background-color: transparent;
    padding: 10px 20px;
    color: gray;
}
.one{
    padding: 9px 20px;
    color: white;
    background-color: rgb(79,93,112);
}


@media (min-width:768px) {
    .maincont{
        padding: 50px 20px;
    }
    .button{
        padding:10px 20px;
        color: white;
        background-color: rgb(79,93,112);
    }
    .contcont{
        padding:10px 40px;
    }
    .center{
       
        font-size: 14px;
    }
}