.maincont{
    padding: 50px 0;
   
}
.pref{
    padding: 10px 0;
    font-size: 1.5rem;
   line-height: 2rem;
}
.line{
    border-bottom: 0.5px solid gray;
}
.subcont{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 30px;
    /* background-color: red; */
    padding: 10px 0;
}
.date{
    padding: 10px;
    color: rgb(79,93,112);
    /* background-color: red; */
}
.newcont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.newconts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 10px;
}
.button{
    width: 70%;
    padding: 10px;
    background-color: rgb(79,93,112);
    color: white;
    border: none;
    border-radius: 5px;
}




@media (min-width:768px) {
    .maincont{
        padding: 50px 20px;
    } 
    
     .subcont{
       
        padding:20px 0;
    }
    .button{
        width:63%;
      
    }
}


@media (min-width:1024px) {
    .button{
        width: 38%;
      
    }
}

@media (min-width:1280px) {
    .button{
        width: 32%;
      
    }
}